body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.cabecalho ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    color: white;
    float: left;
}

li p {
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0 0 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #198754;
    color: white;
}

.cadastro {
    border-radius: 5px;
    margin: 50px auto;
    width: 30%;
}

.tituloCad {
    text-align: center;
}

.cadastro button {
    border-radius: 10px;
    margin-left: 8px;
    width: 100px;
}

p {
    text-align: center;
}

tbody input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

tbody input[type="checkbox"]:checked {
    background-color: #198754;
}

.botaoEnviar {
    display: flex;
    justify-content: center;
}

.botaoEnviar button {
    border-radius: 10px;
    width: 100px;
}

.coletado {
    text-decoration: line-through #000;
}

.cadastro {
    overflow: hidden;
    animation: fade 0.2s;
}

.cadastro .input-block:nth-child(1) {
    animation: move 500ms;
}

.cadastro .input-block:nth-child(2) {
    animation: move 400ms;
    animation-delay: 200ms;
    animation-fill-mode: backwards;
}

.cadastro .input-block:nth-child(3) {
    animation: move 400ms;
    animation-delay: 300ms;
    animation-fill-mode: backwards;
}

.cadastro .input-block:nth-child(4) {
    animation: move 400ms;
    animation-delay: 400ms;
    animation-fill-mode: backwards;
}

.cadastro .input-block:nth-child(5) {
    animation: move 400ms;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateX(-35%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}



.lista {
    overflow: hidden;
    animation: fade 0.2s;
}

.lista tr {
    animation: move 500ms;
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateX(-35%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}